/**
 * @name Clergie's Mod
 * @author Clergie#2129
 * @version 1.0
 * @description My own compiled theme.
 * @source https://raw.githubusercontent.com/Clergie/CSS/master/ClergiesMod.css
 * @website https://www.gibbu.me
*/

@import url("https://raw.githubusercontent.com/Clergie/CSS/master/css.css");
@import url("https://raw.githubusercontent.com/Clergie/CSS/master/css2.css");

:root {

  /* Slate variables */
  --accent: 3, 102, 214; /* This affects: Mentions, select channel/dm, unread channel | DEFAULT: 3, 102, 214 */
  --link-colour: 0, 186, 255; /* Colour of links | DEFAULT: 17, 83, 157 */
  --chat-font-size: 12px; /* Font size for chat | DEAFULT: 12px; */

  /* Adjustable Server Width variables  */
  --server-icon-size: 35px; /* Size of the server icons | DEFAULT: 35px */
  --server-icon-spacing: 8px; /* Spacing between server icons. Negative values are allowed | DEFAULT: 8px */
  --server-container-padding: 10px; /* Spacing to the left and right sides of server icons | DEFAULT: 10px */

}

/* Custom CSS below here */
